<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>allowPseudoUnicode</key>
				<integer>1</integer>
				<key>type</key>
				<string>cannedDesign</string>
			</dict>
		</array>
		<key>com.schriftgestaltung.appVersion</key>
		<string>85</string>
		<key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
		<array>
			<string>A</string>
			<string>a</string>
			<string>b</string>
			<string>g</string>
			<string>o</string>
			<string>y</string>
		</array>
		<key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
		<false/>
		<key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
		<true/>
		<key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
		<integer>1</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.Master Name</key>
		<string>Light</string>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
		<string></string>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
		<integer>100</integer>
		<key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
		<integer>100</integer>
		<key>com.schriftgestaltung.fontMasterID</key>
		<string>CD0BDD5B-CD52-4CF3-9A70-A68D132A6531</string>
		<key>com.schriftgestaltung.fontMasterOrder</key>
		<integer>0</integer>
		<key>com.schriftgestaltung.glyphOrder</key>
		<false/>
		<key>com.schriftgestaltung.keyboardIncrement</key>
		<integer>1</integer>
		<key>com.schriftgestaltung.weight</key>
		<string>Light</string>
		<key>com.schriftgestaltung.weightValue</key>
		<integer>100</integer>
		<key>com.schriftgestaltung.width</key>
		<string>Regular</string>
		<key>com.schriftgestaltung.widthValue</key>
		<integer>100</integer>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.3.6
1546048940.0 fontinfo.plist
1546048940.0 layercontents.plist
1546048940.0 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>AE</string>
			<string>B</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>D</string>
			<string>Dcaron</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>Eogonek</string>
			<string>F</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Igrave</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>Lslash</string>
			<string>M</string>
			<string>N</string>
			<string>Nacute</string>
			<string>Ntilde</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scedilla</string>
			<string>T</string>
			<string>Tcommaaccent</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>A.ss02</string>
			<string>Aacute.ss02</string>
			<string>Acircumflex.ss02</string>
			<string>Adieresis.ss02</string>
			<string>Agrave.ss02</string>
			<string>Aring.ss02</string>
			<string>Atilde.ss02</string>
			<string>B.ss02</string>
			<string>C.ss02</string>
			<string>Cacute.ss02</string>
			<string>Ccedilla.ss02</string>
			<string>D.ss02</string>
			<string>E.ss02</string>
			<string>Eacute.ss02</string>
			<string>Ecircumflex.ss02</string>
			<string>Edieresis.ss02</string>
			<string>Egrave.ss02</string>
			<string>Eogonek.ss02</string>
			<string>F.ss02</string>
			<string>G.ss02</string>
			<string>Iacute.ss02</string>
			<string>Icircumflex.ss02</string>
			<string>Idieresis.ss02</string>
			<string>Igrave.ss02</string>
			<string>J.ss02</string>
			<string>K.ss02</string>
			<string>Lslash.ss02</string>
			<string>M.ss02</string>
			<string>N.ss02</string>
			<string>Nacute.ss02</string>
			<string>Ntilde.ss02</string>
			<string>O.ss02</string>
			<string>Oacute.ss02</string>
			<string>Ocircumflex.ss02</string>
			<string>Odieresis.ss02</string>
			<string>Ograve.ss02</string>
			<string>Otilde.ss02</string>
			<string>P.ss02</string>
			<string>Q.ss02</string>
			<string>R.ss02</string>
			<string>S.ss02</string>
			<string>Sacute.ss02</string>
			<string>U.ss02</string>
			<string>Uacute.ss02</string>
			<string>Ucircumflex.ss02</string>
			<string>Udieresis.ss02</string>
			<string>Ugrave.ss02</string>
			<string>V.ss02</string>
			<string>W.ss02</string>
			<string>X.ss02</string>
			<string>Y.ss02</string>
			<string>Z.ss02</string>
			<string>Zacute.ss02</string>
			<string>Zdotaccent.ss02</string>
			<string>a</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>atilde</string>
			<string>ae</string>
			<string>b</string>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>d</string>
			<string>dcaron</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>egrave</string>
			<string>eogonek</string>
			<string>f</string>
			<string>g</string>
			<string>gbreve</string>
			<string>h</string>
			<string>i</string>
			<string>idotless</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>igrave</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>lslash</string>
			<string>m</string>
			<string>n</string>
			<string>nacute</string>
			<string>ntilde</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>sacute</string>
			<string>scedilla</string>
			<string>germandbls</string>
			<string>t</string>
			<string>tcommaaccent</string>
			<string>u</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>z</string>
			<string>zacute</string>
			<string>zdotaccent</string>
			<string>a.ss02</string>
			<string>aogonek.ss02</string>
			<string>b.ss02</string>
			<string>c.ss02</string>
			<string>d.ss02</string>
			<string>e.ss02</string>
			<string>f.ss02</string>
			<string>g.ss02</string>
			<string>h.ss02</string>
			<string>j.ss02</string>
			<string>k.ss02</string>
			<string>m.ss02</string>
			<string>n.ss02</string>
			<string>o.ss02</string>
			<string>p.ss02</string>
			<string>q.ss02</string>
			<string>r.ss02</string>
			<string>s.ss02</string>
			<string>germandbls.ss02</string>
			<string>t.ss02</string>
			<string>u.ss02</string>
			<string>v.ss02</string>
			<string>w.ss02</string>
			<string>y.ss02</string>
			<string>Be-cy</string>
			<string>Ge-cy</string>
			<string>De-cy</string>
			<string>Zhe-cy</string>
			<string>Ze-cy</string>
			<string>Ii-cy</string>
			<string>Iishort-cy</string>
			<string>El-cy</string>
			<string>Pe-cy</string>
			<string>U-cy</string>
			<string>Ef-cy</string>
			<string>Che-cy</string>
			<string>Tse-cy</string>
			<string>Sha-cy</string>
			<string>Shcha-cy</string>
			<string>Softsign-cy</string>
			<string>Yeru-cy</string>
			<string>Ereversed-cy</string>
			<string>Iu-cy</string>
			<string>Ia-cy</string>
			<string>be-cy</string>
			<string>ve-cy</string>
			<string>ge-cy</string>
			<string>de-cy</string>
			<string>zhe-cy</string>
			<string>ze-cy</string>
			<string>ii-cy</string>
			<string>iishort-cy</string>
			<string>ka-cy</string>
			<string>el-cy</string>
			<string>em-cy</string>
			<string>en-cy</string>
			<string>pe-cy</string>
			<string>te-cy</string>
			<string>ef-cy</string>
			<string>che-cy</string>
			<string>tse-cy</string>
			<string>sha-cy</string>
			<string>shcha-cy</string>
			<string>softsign-cy</string>
			<string>hardsign-cy</string>
			<string>yeru-cy</string>
			<string>ereversed-cy</string>
			<string>iu-cy</string>
			<string>ia-cy</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>zero.ss02</string>
			<string>one.ss02</string>
			<string>two.ss02</string>
			<string>three.ss02</string>
			<string>five.ss02</string>
			<string>six.ss02</string>
			<string>eight.ss02</string>
			<string>nine.ss02</string>
			<string>twosuperior</string>
			<string>twosuperior.ss02</string>
			<string>period</string>
			<string>comma</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>exclamdown</string>
			<string>question</string>
			<string>questiondown</string>
			<string>periodcentered</string>
			<string>asterisk</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>exclamdown.ss02</string>
			<string>questiondown.ss02</string>
			<string>slash.ss02</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>parenleft.ss02</string>
			<string>parenright.ss02</string>
			<string>hyphen</string>
			<string>underscore</string>
			<string>quotedblbase</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>quotedblleft.ss02</string>
			<string>guillemetleft.ss02</string>
			<string>guillemetright.ss02</string>
			<string>space</string>
			<string>space.ss02</string>
			<string>dollar</string>
			<string>euro</string>
			<string>florin</string>
			<string>ruble</string>
			<string>sterling</string>
			<string>yen</string>
			<string>dollar.ss02</string>
			<string>euro.ss02</string>
			<string>sterling.ss02</string>
			<string>yen.ss02</string>
			<string>plus</string>
			<string>equal</string>
			<string>greater</string>
			<string>less</string>
			<string>percent</string>
			<string>percent.ss02</string>
			<string>at</string>
			<string>ampersand</string>
			<string>copyright</string>
			<string>degree</string>
			<string>asciicircum</string>
			<string>ampersand.ss02</string>
			<string>copyright.ss02</string>
			<string>degree.ss02</string>
			<string>minussuperior_onesuperior</string>
			<string>minussuperior_onesuperior.ss02</string>
			<string>pixel</string>
			<string>pixel.25</string>
			<string>pixel.50</string>
			<string>pixel.75</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
			<key>Be-cy</key>
			<string>uni0411</string>
			<key>Che-cy</key>
			<string>uni0427</string>
			<key>De-cy</key>
			<string>uni0414</string>
			<key>Ef-cy</key>
			<string>uni0424</string>
			<key>El-cy</key>
			<string>uni041B</string>
			<key>Ereversed-cy</key>
			<string>uni042D</string>
			<key>Ge-cy</key>
			<string>uni0413</string>
			<key>Ia-cy</key>
			<string>uni042F</string>
			<key>Ii-cy</key>
			<string>uni0418</string>
			<key>Iishort-cy</key>
			<string>uni0419</string>
			<key>Iu-cy</key>
			<string>uni042E</string>
			<key>Pe-cy</key>
			<string>uni041F</string>
			<key>Sha-cy</key>
			<string>uni0428</string>
			<key>Shcha-cy</key>
			<string>uni0429</string>
			<key>Softsign-cy</key>
			<string>uni042C</string>
			<key>Tcommaaccent</key>
			<string>uni021A</string>
			<key>Tse-cy</key>
			<string>uni0426</string>
			<key>U-cy</key>
			<string>uni0423</string>
			<key>Yeru-cy</key>
			<string>uni042B</string>
			<key>Ze-cy</key>
			<string>uni0417</string>
			<key>Zhe-cy</key>
			<string>uni0416</string>
			<key>be-cy</key>
			<string>uni0431</string>
			<key>che-cy</key>
			<string>uni0447</string>
			<key>de-cy</key>
			<string>uni0434</string>
			<key>ef-cy</key>
			<string>uni0444</string>
			<key>el-cy</key>
			<string>uni043B</string>
			<key>em-cy</key>
			<string>uni043C</string>
			<key>en-cy</key>
			<string>uni043D</string>
			<key>ereversed-cy</key>
			<string>uni044D</string>
			<key>euro</key>
			<string>Euro</string>
			<key>euro.ss02</key>
			<string>Euro.ss02</string>
			<key>ge-cy</key>
			<string>uni0433</string>
			<key>guillemetleft</key>
			<string>guillemotleft</string>
			<key>guillemetleft.ss02</key>
			<string>guillemotleft.ss02</string>
			<key>guillemetright</key>
			<string>guillemotright</string>
			<key>guillemetright.ss02</key>
			<string>guillemotright.ss02</string>
			<key>hardsign-cy</key>
			<string>uni044A</string>
			<key>ia-cy</key>
			<string>uni044F</string>
			<key>idotless</key>
			<string>dotlessi</string>
			<key>ii-cy</key>
			<string>uni0438</string>
			<key>iishort-cy</key>
			<string>uni0439</string>
			<key>iu-cy</key>
			<string>uni044E</string>
			<key>ka-cy</key>
			<string>uni043A</string>
			<key>minussuperior_onesuperior</key>
			<string>uni207B00B9</string>
			<key>minussuperior_onesuperior.ss02</key>
			<string>uni207B00B9.ss02</string>
			<key>pe-cy</key>
			<string>uni043F</string>
			<key>ruble</key>
			<string>uni20BD</string>
			<key>sha-cy</key>
			<string>uni0448</string>
			<key>shcha-cy</key>
			<string>uni0449</string>
			<key>softsign-cy</key>
			<string>uni044C</string>
			<key>tcommaaccent</key>
			<string>uni021B</string>
			<key>te-cy</key>
			<string>uni0442</string>
			<key>tse-cy</key>
			<string>uni0446</string>
			<key>twosuperior</key>
			<string>uni00B2</string>
			<key>twosuperior.ss02</key>
			<string>uni00B2.ss02</string>
			<key>ve-cy</key>
			<string>uni0432</string>
			<key>yeru-cy</key>
			<string>uni044B</string>
			<key>ze-cy</key>
			<string>uni0437</string>
			<key>zhe-cy</key>
			<string>uni0436</string>
		</dict>
	</dict>
</plist>
